<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">診断対象サイト</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/greeting}">こんにちは！</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/greeting?username=stw}">こんばんは！</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">ログアウト</a>
                    </li>
                </ul>
                <form class="d-flex" method="POST" th:action="@{/greeting}">
                    <input class="form-control form-control-sm" type="text" name="username" placeholder="名前を入れてください" aria-label="Greeting">
                    <button class="btn btn-success" type="submit">welcome!</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <p th:text="${greeting}" class="alert alert-primary"></p>
        <p th:utext="${greeting}" class="alert alert-danger"></p>
    </div>
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>